<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.DriverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FamilyMemberController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.FamilyMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.HospitalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.OwnerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoliceStationController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.PoliceStationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostAccidentController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.PostAccidentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleController</servlet-name>
        <servlet-class>com.ucsc.vaias.controller.VehicleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverController</servlet-name>
        <url-pattern>/DriverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FamilyMemberController</servlet-name>
        <url-pattern>/FamilyMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalController</servlet-name>
        <url-pattern>/HospitalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerController</servlet-name>
        <url-pattern>/OwnerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoliceStationController</servlet-name>
        <url-pattern>/PoliceStationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostAccidentController</servlet-name>
        <url-pattern>/PostAccidentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleController</servlet-name>
        <url-pattern>/VehicleController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
